.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search button {
    display: flex;
    align-items: center;
    width: 8vw;
    height: auto;
    margin: 0px 12px;
    padding: 0px 10px;
    background-color: var(--main-bg-color);
    color: white;
    border-radius: 5px;
}

.my-1 {
    margin: 25px 0px;
    width: 10vw;
    height: 6vh;
    margin: 10px;
}

.text-center {
    text-align: center;
}